html[class="dark"] {
  @import "ant-design-vue/dist/antd.dark.less";

  --bgColor: #000000;
  --textColor: #ffffff;

  // slider-menu
  --slider-bg-color: #141414;

  // content
  --content-bg-color: #151515;

  .ant-menu {
    box-shadow: none;
  }
}
